html,
body {
    height: 100%; 
    width: 100%;
} 

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    background-color: green;
    color: white;
    text-shadow: black 1px 1px;
    width: 100%;
    padding-bottom: 80px;
}

.navbar {
    display: flex;
    justify-content: center;
    border-bottom: rgb(0, 100, 0) solid;
    margin-bottom: 40px;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 200px;
    padding: 5px 15px;
    
}

.title {
    color: greenyellow;
    text-shadow: black 2px 2px;
    font-size: 300%;
    font-weight: bold;
}

.navitems {
    display: flex;
    gap: 20px;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 150px;
    row-gap: 50px;
    padding: 15px;
}

.message h1 {
    font-size: 40px;
    text-decoration: underline;
}

.message p {
    max-width: 450px;
    padding-bottom: 10px;
}

.welcome img {
    width: 170px;
    height: auto;
}

/* CONTENT */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(153, 255, 0, 0);
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champion-image {
    width: 120px;
    height: 120px;
    border-radius: 10%;
}

.champion-text {
    width: 160px;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px;
    background-color: #e5e7eb;
}

.quote {
    max-width: 600px;
    font-style: italic;
    margin-bottom: 0;
}

.author {
    font-weight: bold;
}

.last {
    display: flex;
    justify-content: center;
}

.signup {
    max-width: 800px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 45px;
    padding: 20px;
    border: black solid;
    border-width: 4px;
    border-radius: 15px;
    background-color: greenyellow;
}

.signup-button {
    flex-shrink: 0;
    height: 35px;
    width: 90px;
    font-weight: bold;
    background-color: white;
    border-radius: 30px;
    border-width: 5px;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    gap: 5px;
    color: black;
    width: 100%;
}

footer img {
    width: 25px;
}

.credits a {
    text-decoration: underline;
}
